@import url(reset.css);
@font-face {
    font-family: 'Aller_Rg';
    src: url('../fonts/Aller_Rg.eot');
    src: local('☺'), url('../fonts/Aller_Rg.woff') format('woff'), url('../fonts/Aller_Rg.ttf') format('truetype'), url('../fonts/Aller_Rg.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aller_Lt';
    src: url('../fonts/Aller_Lt.eot');
    src: local('☺'), url('../fonts/Aller_Lt.woff') format('woff'), url('../fonts/Aller_Lt.ttf') format('truetype'), url('../fonts/Aller_Lt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aller_Bd';
    src: url('../fonts/Aller_Bd.eot');
    src: local('☺'), url('../fonts/Aller_Bd.woff') format('woff'), url('../fonts/Aller_Bd.ttf') format('truetype'), url('../fonts/Aller_Bd.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STHeitiSC';
    src: url('../fonts/STHeitiSC.eot');
    src: local('☺'), url('../fonts/STHeitiSC.woff') format('woff'), url('../fonts/STHeitiSC.ttf') format('truetype'), url('../fonts/STHeitiSC.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Aller_Rg';
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
}
.line{
    width: 940px;
    margin: 0 auto;
    font-size: 0;
}
.clear-float{
    clear: both;
}
.tag{
    height: 67px;
    width: 68px;
    font: 13px/67px Aller_Bd;
    text-align: center;
    text-transform: uppercase;
}
.price{
    background-color: #57c5a0;
    color: #ffffff;
}
.on-sale{
    background-color: #242424;
    color: #ffffff;
    visibility: hidden;
}
.on-sale.active{
    visibility: visible;
}
.out-of-stock{
    background-color: #f27e4b;
    color: #ffffff;
    visibility: hidden;
    line-height: normal;
    padding-top: 19px;
    height: 48px;
}
.out-of-stock.active{
    visibility: visible;
}
ul li{
    display: inline-block;
}
.goods-menu{
    width: 166px;
    /*outline: 1px solid olive;*/
    text-align: justify;
}
.goods-menu:after{
    content: '';
    height: 0;
    width: 100%;
    display: inline-block;
}
.goods-menu li a{
    height: 40px;
    width: 40px;
    display: block;
}
.goods-menu .view{
    background: url(../images/design/icons.png) no-repeat 0 -36px;
}
.goods-menu .wishlist{
    background: url(../images/design/icons.png) no-repeat -42px -36px;
}
.goods-menu .share{
    background: url(../images/design/icons.png) no-repeat -84px -36px;
}
.goods-menu .cart{
    background: url(../images/design/icons.png) no-repeat -126px -36px;
}
/*Begin header*/
.header{
    background-color: #242424;
    height: 45px;
    width: 100%;
}

.header .logo{
    font: 26px STHeitiSC, Arial;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 17px;
    margin: 12px 0 0 0;
    float: left;
}
.header .logo a{
    color: #57c5a0;
    float: left;
    text-decoration: none;
    transition: all 300ms ease-out;
}
.header .logo a:hover{
    color: #32b085;
    transition: all 300ms ease-out;
}
.header .search{
    height: 28px;
    width: 28px;
    border: 0;
    background: url(../images/design/zoom-icon.png) no-repeat center;
    cursor: pointer;
    /*outline: 1px solid red;*/
    float: right;
    display: inline-block;
    margin: 8px 17px 0 0;
}
.header .login{
    border-left: 1px solid #383838;
    border-right: 1px solid #383838;
    float: right;
    line-height: 45px;
    /*outline: 1px solid red;*/
    height: 45px;
    padding: 0 22px;
    color: #7e7e7e;
    font-size: 11px;
}
.header .login a{
    color: #7e7e7e;
    text-transform: uppercase;
}
.header .login a:hover{
    color: #b1b1b1;
}
/*End header*/
/*Begin menu*/
.menu .line{
    border-left: 1px solid #eeeeee;
}
.menu{
    height: 60px;
    background-color: #ffffff;
    /*outline: 1px solid red;*/
}
.menu li{
    padding: 0 23px;
    text-transform: capitalize;
    border-right: 1px solid #eeeeee;
    /*outline: 1px solid red;*/
}
.menu li a{
    line-height: 60px;
    font-size: 16px;
    color: #242424;
}
/*End menu*/
/*Begin banner*/
.banner{
    background: url(../images/design/banner-bg.jpg) repeat-x;
    /*outline: 1px solid red;*/
}
.banner .line{
    height: 461px;
    background: url(../images/content/banner-bg-image.jpg) no-repeat;
}
.banner .line .info{
    padding: 66px 0 0 542px;
    /*outline: 1px solid red;*/
}
.banner .line .info h2{
    font: 40px/38px "Aller_Lt";
    margin: 14px 0 8px;
}
.banner .line .info p{
    font: 20px/25px "Aller_Lt";
}
.banner .goods-menu{
    margin-top: 15px;
}
.banner .goods-menu li{
    background-color: #fafafa;
}
/*End of banner*/
/*Begin of brand-menu*/
.brand-menu{
    height: 90px;
    background-color: #2e2e2e;
    text-align: center;
}
.brand-menu li{
    width: 188px;
    height: 90px;
    /*outline: 1px solid red;*/
    font-size: 18px;
}
.brand-menu li a{
    display: inline-block;
    margin-top: 26px;
    color: #979797;
    /*outline: 1px solid red;*/
    position: relative;
}
.brand-menu li a div{
    font-size: 12px;
    color: #5d5d5d;
    padding-top: 7px;
    /*outline: 1px solid red;*/
}
.brand-menu li a:hover div{
    color: #adadad;
}
.brand-menu li a:hover{
    color: #ffffff;
}
/*End of brand-menu*/
/*Begin of offers*/
.offers{
    height: 230px;
    background-color: #242424;
}
.offers .line{
    text-align: justify;
}
.offers .line:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
}
.offers a{
    margin-top: 25px;
    display: inline-block;
    height: 180px;
    width: 300px;
    text-align: center;
}
.offers a div{
    display: inline-block;
    height: 60px;
    margin-top: 60px;
    font: 25px/60px Aller_Lt;
    color: #ffffff;
    text-transform: uppercase;
    background-color: rgba(36, 36, 36, 0.85);
}
.on-sale-offer{
    background: url(../images/content/on-sale.jpg) no-repeat;
}
.on-sale-offer div{
    padding: 0 43px;
}
.special-offers{
    background: url(../images/content/special-offers.jpg) no-repeat;
}
.special-offers div{
    padding: 0 25px;
}
.must-have{
    background: url(../images/content/must-have.jpg) no-repeat;
}
.must-have div{
    padding: 0 27px;
}
/*End of offers*/
/*Begin of content*/
.content{
    background-color: #ebe7df;
    padding-bottom: 110px;
}
.content .goods{
    padding: 29px 0 7px;
    /*outline: 1px solid yellow;*/
}
.content .goods h2{
    font: 25px Aller_Lt;
    color: #242424;
    float: left;
}
.show-goods-btn{
    height: 30px;
    width: 98px;
    background-color: #ebe7df;
    color: #bcb5a7;
    font: 14px Aller_Bd;
    float: right;
    border: 1px solid #bcb5a7;
    cursor: pointer;
}
.content .goods .goods-items{
    padding-top: 28px;
    /*outline: 1px solid green;*/
    text-align: justify;
}
div.goods-items:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
}
.goods-items .goods-item{
    display: inline-block;
    height: 269px;
    width: 300px;
    position: relative;
}
.goods-items .goods-item .description{
    height: 48px;
    width: 300px;
    border-top: 1px solid #cccccc;
    position: absolute;
    bottom: 0;
    left: 0;
}
.goods-items .goods-item .goods-menu{
    position: absolute;
    left: 106px;
    bottom: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-out;
}
.description p{
    color: #242424;
    font-size: 18px;
    padding: 13px 0 0 92px;
    transition: all 500ms ease-out;
}
.description:hover > p{
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-out;
}
.description:hover > p + .goods-menu{
    visibility: visible;
    opacity: 1;
    transition: all 500ms ease-out;
}
.goods-items .goods-item .price{
    position: absolute;
    bottom: -1px;
    left: 12px;
    z-index: 5;
}
.goods-items .goods-item .on-sale{
    position: absolute;
    top: 0;
    right: 13px;
}
.goods-items .goods-item .out-of-stock{
    position: absolute;
    top: 0;
    right: 11px;
}

/*End of content*/
/*Begin of footer*/
.footer{
    height: 90px;
    background-color: #2e2e2e;
}
.footer .copyright{
    float: left;
    padding-top: 25px;
    font-size: 12px;
    line-height: 18px;
    color: #979797;
}
.footer .socials-menu{
    float: right;
    margin-top: 23px;
}
.footer .socials-menu li{
    margin-left: 8px;
}
.footer .socials-menu li a{
    display: block;
    height: 36px;
    width: 36px;
    /*background-color: white;*/
}
a.fb{
    background: url(../images/design/icons.png) no-repeat 0 0;
}
a.tw{
    background: url(../images/design/icons.png) no-repeat -44px 0;
}
a.g-plus{
    background: url(../images/design/icons.png) no-repeat -88px 0;
}
a.in{
    background: url(../images/design/icons.png) no-repeat -132px 0;
}
a.fl{
    background: url(../images/design/icons.png) no-repeat -176px 0;
}
/*End of footer*/